.list-elem:hover {
    text-decoration: none;
}

.list-of-cards-frame{
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    .list-of-cards-frame{
        padding: 0;
    }
}