.App {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Set a style for all buttons */
button {
	background-color: #B1D9CD;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px 6px 2px rgba(34, 60, 80, 0.2);
	color: black;
	cursor: pointer;
	padding: 9px 9px;
    box-sizing: border-box;
}

button:focus {
	outline: none;
}

button:hover {
	opacity: 0.8;
}

button:active {
	background-color: #93C2C6;
	box-shadow: none;
}

/* Set a style for all inputs */
input[type=text], input[type=password] {
	border: 1px solid #ccc;
	box-shadow: 0 3px 6px 2px rgba(34, 60, 80, 0.2);
	box-sizing: border-box;
	display: inline-block;
	padding: 8px 5px;
	margin: 8px 0;
	width: 100%;
	border-radius: 5px;
}

/* Set a style for all text areas */
textarea {
	border: 1px solid #ccc;
	box-shadow: 0 3px 6px 2px rgba(34, 60, 80, 0.2);
	box-sizing: border-box;
	display: inline-block;
	padding: 8px 5px;
	width: 100%;
}

/* Set a style for scrolls */
*::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar {
	background-color: #F5F5F5;
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	background-color: #777777;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
}
